.black {
    background-color: black;
}

.pizzas {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.pizza {
    max-width: 25rem;
    max-height: 30rem;
}

.slave {
    max-width: 25rem;
    max-height: 70rem;
}

.slaves {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.bigger{
    font-size: larger;
    color: white;
    text-decoration: none;
    
}
.contacts{
    display: flex;
    justify-content: center;
    gap: 30px;
    min-height: 200px;
    align-items: center;
}
.a{
    padding-top: 1rem;

}
.BuyForm form{
    max-width: 34rem;
}